<!-- <div>
  <router-outlet></router-outlet>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
      <a [routerLink]="['/']" class="navbar-brand logoMenu" href="#" (click)="validarSolicitudSada(false)"><img src="assets/img/logo.png"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
        aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link " href="#">
                <i class="fa fa-user-circle" aria-hidden="true" style="font-size: 1.5rem;color: #343a40">
                  <span style="font-size: 1.2rem; margin-left: 0.5em; color: #343a40">Esteban Solís Oviedo</span>
                </i>
              </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>


<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="4000" *ngIf="!isSolicitudSala">
  <router-outlet></router-outlet>
  <div class="intro-message " style="margin-top:20em;background-color: transparent;position: absolute;z-index: 333; left: 35%;text-align:center;">
    <h1 style="color: #fff">SAVE</h1>
    <h3 style="color: #fff;">Sistema de Control de Salas y Vehiculos</h3>
    <hr class="intro-divider" style="background-color: #fff">
    <ul class="list-inline intro-social-buttons">
      <li class="list-inline-item">
        <a (click)="validarSolicitudSada(true)" class="btn  btn-lg btnIndex"> 
          <i class="fa fa-users" aria-hidden="true"></i>
          <span class="network-name" >Salas</span>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="#" class="btn  btn-lg btnIndex">
          <i class="fa fa-car" aria-hidden="true"></i>
          <span class="network-name">Vehiculos</span>
        </a>
      </li>
    </ul>
  </div>


  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    
    <div class="carousel-item active" style="background-image: url('assets/img/image03.jpg')">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
    
    <div class="carousel-item" style="background-image: url('assets/img/image02.jpg')">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
    
    <div class="carousel-item" style="background-image: url('assets/img/image04.jpg')">
      <div class="carousel-caption d-none d-md-block">

      </div>
    </div>
    <div class="carousel-item" style="background-image: url('assets/img/image05.jpg')">
      <div class="carousel-caption d-none d-md-block">

      </div>
    </div>
  </div>
</div>
<div style="margin-top: 6%" *ngIf="isSolicitudSala">
    <app-solicitud></app-solicitud>
</div>


<footer class="py-5 " style="background-color: #fff;">
  <div class=" container ">
    <p class="m-0 text-center text-black ">&copy; Coopesparta R.L.</p>
  </div>

</footer> -->

<app-registro-usuario></app-registro-usuario>